html {
  padding: 0%;
  margin: 0%;
}

body {
  width: 300px;
  font-family: 'Lato', sans-serif;
  background-color: #4b2e83;
  padding: 0 2rem;
}

header {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-family: 'Monaco';
  font-size: 30px;
}

.logo {
  width: 40px;
  height: 40px;
  justify-content: center;
}

.input-div {
  display: flex;
  justify-content: center;
  margin: 0;
}

.task-input {
  width: 95%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1rem;
}

.tasks-list-div {
  display: flex;
  flex-direction: column;
}

.task-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom : solid 1px black;
}

.task-div:last-child {
  padding-top: 10px;
  border: 0;
}

.task-text {
  color: white;
}

.task-controls {
  display: flex;
  flex-direction: row;
}

.task-clear-div {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 1.5rem 0;
}

.task-btn {
  min-width: 2rem;
  background-color: #b7a57a;
  padding: 0 2px;
}

.task-btn:not(:last-child) {
  border-right : solid 1px black;
}

.task-btn:hover, .task-btn:focus {
  background-color: #85754d;
  color: white;
}

.task-input, .task-btn-edit {
  border-radius: 7px 0 0 7px;
}

.task-btn-submit, .task-btn-do {
  border-radius: 0 7px 7px 0;
}

.task-btn-clear {
  border-radius: 7px;
}